
#u344-4,#u352-4,#u1243-4
{
	font-family: nunito-n7, sans-serif;
}

#u364-4
{
	font-family: nunito-n4, sans-serif;
}

#u371-4
{
	font-family: nunito-n4, sans-serif;
}

#u386-4,#u389-4,#u392-4,#u395-4
{
	font-family: dosis-n5, sans-serif;
}

#u4520.PamphletThumbSelected #u4574-4 p,#u4474.PamphletThumbSelected #u4517-4 p,#u3650-4,#u3736-4,#u4517-4
{
	font-family: nunito-n4, sans-serif;
}

#u4574-4
{
	font-family: nunito-n4, sans-serif;
}

#u3751-4
{
	font-family: nunito-n3, sans-serif;
}

#u3684-4,#u3696-4
{
	font-family: nunito-n7, sans-serif;
}

#u3745-4,#u3743-4,#u3744-4,#u3748-4,#u3747-4,#u3746-4,#u3784-4,#u3808-4,#u3823-4,#u3790-4,#u3811-4,#u3820-4,#u3750-4,#u3675-4,#u6593-4,#u6605-4,#u6600-4,#u6612-4,#u6619-4,#u6591-4,#u6603-4,#u6598-4,#u6610-4,#u6617-4,#u6595-4,#u6607-4,#u6621-4,#u6596-4,#u6608-4,#u6622-4,#u6597-4,#u6609-4,#u6602-4,#u6614-4,#u6615-4,#u6616-4,#u6623-4,#u6594-4,#u6606-4,#u6601-4,#u6613-4,#u6620-4,#u6592-4,#u6604-4,#u6599-4,#u6611-4,#u6618-4,#u3687-4,#u6560-4,#u6559-4,#u3674-4
{
	font-family: nunito-n4, sans-serif;
}

