.version.login /* version checker */
{
	color: #0000E3;
	background-color: #072FD8;
}

#page
{
	z-index: 1;
	min-height: 972px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 100%;
}

#u301
{
	z-index: 2;
	min-height: 68px;
	padding-bottom: 5px;
}

#u2643
{
	z-index: 44;
	height: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 20px;
	width: 13.84%;
}

#u344-4
{
	z-index: 7;
	width: 134px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 100%;
	left: -922px;
}

#u352-4
{
	z-index: 15;
	width: 50px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 100%;
	left: -764px;
}

#u1243-4
{
	z-index: 19;
	width: 79px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 100%;
	left: -690px;
}

#u1246
{
	z-index: 43;
	width: 3px;
	height: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 100%;
	left: -571px;
}

#u319
{
	z-index: 5;
	width: 141px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 100%;
	left: -533px;
}

#u319.MuseLinkActive
{
	width: 141px;
	min-height: 0px;
	left: -533px;
	margin: 20px -10000px 0px 100%;
}

#u364-4
{
	z-index: 31;
	width: 134px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 100%;
	left: -137px;
}

#u364-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 134px;
	left: -137px;
	margin: 4px -10000px 0px 100%;
}

#u374
{
	z-index: 6;
	width: 123px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 100%;
	left: -342px;
}

#u374.MuseLinkActive
{
	width: 123px;
	min-height: 0px;
	left: -342px;
	margin: 20px -10000px 0px 100%;
}

#u371-4
{
	z-index: 35;
	width: 109px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 100%;
	left: -116px;
}

#u371-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 109px;
	left: -116px;
	margin: 4px -10000px 0px 100%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u301-bw
{
	z-index: 2;
	min-height: 68px;
}

#u382
{
	z-index: 4;
	min-height: 43px;
	padding-bottom: 23px;
}

#u301_align_to_page,#u382_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u386-4
{
	z-index: 11;
	width: 95px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: -161px;
}

#u389-4
{
	z-index: 23;
	width: 36px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: -33px;
}

#u392-4
{
	z-index: 27;
	width: 33px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 34px;
}

#u395-4
{
	z-index: 39;
	width: 70px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 90px;
}

#u382-bw
{
	z-index: 4;
	min-height: 43px;
	margin-top: 715px;
}

#u377,#u377-bw
{
	z-index: 3;
	height: 119px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

